body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.quiz-container {
    display: flex;
    height: 95%;
    justify-content: center;
}

.container {
    width: 600px;
    max-width: 100%;
    background-color: lightgoldenrodyellow;
}

.content-container {
    height: 85%;
    text-align: center;
}

.rank-container {
    margin: 20px;
    border: solid #b0b0b0df;
}

tbody tr {
    background-color: white;
    border-bottom-width: 1px;
}

tbody th {
    font-weight: 500;
}

tbody th,
td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-container {
    text-align: center;
    height: 15%;
}

#endBtn {
    margin-left: 50px;
}