body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.quiz-container {
    display: flex;
    height: 95%;
    justify-content: center;
}

.container {
    width: 600px;
    max-width: 100%;
    background-color: lightgoldenrodyellow;
}

.content-container {
    height: 85%;
    text-align: center;
}

.rank-container {
    height: 80%;
    margin: 20px;
}

.rank-div {
    height: 100%;
}

.rank-table-container {
    height: 100%;
}

thead {
    background-color: ivory;
}

tbody tr {
    background-color: white;
    border-bottom-width: 1px;
    color: black;
}

tbody tr:nth-child(1) {
    font-weight: bold;
    color: goldenrod;
}

tbody tr:nth-child(2) {
    font-weight: bold;
    color: gray;
}

tbody tr:nth-child(3) {
    font-weight: bold;
    color: #964b00;
}

tbody th {
    font-weight: 500;
}

tbody th,
td {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn-container {
    text-align: center;
    height: 15%;
}

#endBtn {
    margin-left: 50px;
}